@import url("https://fonts.googleapis.com/css?family=Montserrat");


/* GERAL */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #e8eeff;
    font-family: Montserrat;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #e8eeff;
}

/* HEADER */

nav{
    position: relative;
    display: flex;
    width: 100%;
    height: 10vh;
    background-color:rgb(0, 23, 66);
    z-index: 99;
    align-items: center;
    justify-content: center;
}

a.logo{
    font-size: 30px;
    letter-spacing: 4px;
    color: #fff;
    margin-right: 20px;
}

input.search{
    position: relative;
    width: 50vw;
    height: 7vh;
    border-radius: 10px;
    background-color: #ffffff9a;
    font-size: 20px;
    outline: none;
    border: none;
    transition: .5s;
}

input.search:focus{
    background-color: #ffffff;
}

a.menu{
    color: #e9ebff;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 10px;
    padding: 7px 13px;
}

a.menu:hover{
    background: rgba(177, 168, 255, 0.541);
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 40px;
}

.mobile_menu{
    display: none;
    cursor: pointer;
}

.mobile_menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

/* PROFILE */
div.profile-container, div.update-container, div.delete-container{
    position: relative;
    margin-top: 50px;
}

div.profile-adjust, div.update-adjust, div.delete-adjust{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

button.button-save{
    position: relative;
    background: #4782ff;
    color: #fff;
    border-radius: 15px;
    border: 0;
    width: 40%;
    height: 40px;
    font-size: 20px;
    font-weight:bolder;
    cursor: pointer;
    transition: .5s;
    margin-top: 10px;
}

button.button-save:hover{
    background: #fff;
    color: #4782ff;
}

@media (max-width: 1236px){
    div.products-teclado-list, div.products-mouse-list{
        grid-template-areas:
            "header header header header"
            "main main main main"
            "footer footer footer footer";
    }
}

@media (max-width: 1096px){

    body{
        overflow-x: hidden;
    }

    .checkbtn{
        display: block;
    }

    .nav-list{
        position: fixed;
        top: 10vh;
        right: 0;
        width: 100%;
        height: 100vh;
        background: rgba(8, 0, 53, 0.95);
        flex-direction: column;
        align-items: center;
        transform: translateX(-100%);
        transition: .5s;
    }

    .nav-list.active{
        backdrop-filter: blur(100px);
        transform: translateX(0);
    }

    .nav-list li{
        margin-left: 0;
        padding: 50px 0;
    }

    .mobile_menu{
        display: block;
        margin-left: 20px;
    }
}

@media (max-width: 948px){
    div.lista-categorias{
        display: none;
    }
}

@media (max-width: 984px){
    div.products-teclado-list, div.products-mouse-list{
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    }
}

@media (max-width: 740px){
    div.products-teclado-list, div.products-mouse-list{
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";
    }
}
